*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container, form{
    width:  fit-content;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    border: 1px solid black;
    background-color: whitesmoke;
}
.row{
    width:  fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ovuong{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: coral;
}